In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier

In [9]:
db = pd.read_excel("Retail-Supply-Chain-Sales-Dataset.xlsx")

In [11]:
db.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Retail Sales People,Product ID,Category,Sub-Category,Product Name,Returned,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Not,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Not,731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Anna Andreadi,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Not,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,Not,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,Not,22.3680,2,0.20,2.5164

In [13]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Row ID               9994 non-null   int64
 1   Order ID             9994 non-null   object
 2   Order Date           9994 non-null   datetime64[ns]
 3   Ship Date            9994 non-null   datetime64[ns]
 4   Ship Mode            9994 non-null   object
 5   Customer ID          9994 non-null   object
 6   Customer Name        9994 non-null   object
 7   Segment              9994 non-null   object
 8   Country              9994 non-null   object
 9   City                 9994 non-null   object
 10  State                9994 non-null   object
 11  Postal Code          9994 non-null   int64
 12  Region               9994 non-null   object
 13  Retail Sales People  9994 non-null   object
 14  Product ID           9994 non-null   object
 15  Category             9994 non-null   object
 16  Sub-Category         9994 non-null   object
 17  Product Name         9994 non-null   object
 18  Returned             9994 non-null   object
 19  Sales                9994 non-null   float64
 20  Quantity             9994 non-null   int64
 21  Discount             9994 non-null   float64
 22  Profit               9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 1.8+ MB

In [15]:
target = db.iloc[:,[4,6,7,9] + list(range(17,22))].copy()

In [17]:
target.sample(200)

,Ship Mode,Customer Name,Segment,City,Product Name,Returned,Sales,Quantity,Discount
2188,Standard Class,Ivan Liston,Consumer,Columbus,Tenex Traditional Chairmats for Medium Pile Ca...,Not,121.300,2,0.0
1410,Standard Class,Sam Zeldin,Home Office,Grand Prairie,Alphabetical Labels for Top Tab Filing,Not,23.680,2,0.2
6757,Standard Class,Theresa Coyne,Corporate,Lakewood,Plantronics 81402,Not,395.940,6,0.0
5281,Standard Class,Sung Pak,Corporate,Rochester,Longer-Life Soft White Bulbs,Yes,6.160,2,0.0
2657,Second Class,Alan Schoenberger,Corporate,Provo,Avery 514,Not,14.400,5,0.0
...,...,...,...,...,...,...,...,...,...
2690,Standard Class,Charles McCrossin,Consumer,Philadelphia,Storex Dura Pro Binders,Not,5.346,3,0.7
5209,Standard Class,Tamara Manning,Consumer,Auburn,"Tyvek Top-Opening Peel & Seel Envelopes, Plai...",Not,27.180,1,0.0
8802,First Class,Aaron Bergman,Consumer,Oklahoma City,"Sauder Facets Collection Library, Sky Alder Fi...",Not,341.960,2,0.0
1283,First Class,Sue Ann Reed,Consumer,Jacksonville,Xerox 1915,Not,251.640,3,0.2
8868,Standard Class,Cindy Chapman,Consumer,San Diego,Okidata B400 Printer,Not,686.400,2,0.2

In [19]:
target['Duration'] =db['Ship Date']-db['Order Date']

In [21]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ship Mode      9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Segment        9994 non-null   object
 3   City           9994 non-null   object
 4   Product Name   9994 non-null   object
 5   Returned       9994 non-null   object
 6   Sales          9994 non-null   float64
 7   Quantity       9994 non-null   int64
 8   Discount       9994 non-null   float64
 9   Duration       9994 non-null   timedelta64[ns]
dtypes: float64(2), int64(1), object(6), timedelta64[ns](1)
memory usage: 780.9+ KB

In [23]:
target.sample(20)

,Ship Mode,Customer Name,Segment,City,Product Name,Returned,Sales,Quantity,Discount,Duration
9367,Standard Class,Rick Duston,Consumer,Long Beach,"Tennsco Snap-Together Open Shelving Units, Sta...",Not,1676.880,6,0.0,0 days
4905,Second Class,Jim Epp,Corporate,Concord,Avery Metallic Poly Binders,Not,22.920,4,0.0,2 days
3861,Standard Class,Nathan Cano,Consumer,Yonkers,GBC Poly Designer Binding Covers,Not,40.176,3,0.2,214 days
7645,Standard Class,Carol Adams,Corporate,Los Angeles,GuestStacker Chair with Chrome Finish Legs,Not,892.224,3,0.2,184 days
2437,Second Class,Pierre Wener,Consumer,Louisville,Bevis Rectangular Conference Tables,Not,145.980,2,0.5,2 days
8965,Standard Class,Christopher Conant,Consumer,Houston,Zipper Ring Binder Pockets,Not,1.248,2,0.8,183 days
9145,Standard Class,Theone Pippenger,Consumer,Naperville,Acco Translucent Poly Ring Binders,Not,2.808,3,0.8,4 days
316,First Class,Sung Pak,Corporate,Philadelphia,"Boston School Pro Electric Pencil Sharpener, 1670",Not,99.136,4,0.2,2 days
9053,Second Class,Damala Kotsonis,Corporate,San Francisco,Griffin GC17055 Auxiliary Audio Cable,Not,28.784,2,0.2,5 days
1543,Standard Class,Deborah Brumfield,Home Office,San Diego,GBC Recycled Grain Textured Covers,Not,82.896,3,0.2,122 days
5231,Second Class,Sue Ann Reed,Consumer,Fresno,Advantus Employee of the Month Certificate Fra...,Not,30.930,1,0.0,3 days
3494,Standard Class,Karen Bern,Corporate,Saint Cloud,Imation Bio 2GB USBÂ Flash Drive ImationÂ Corp,Not,655.900,5,0.0,4 days
6301,Standard Class,Sarah Bern,Consumer,Chicago,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",Not,13.984,2,0.2,183 days
8187,Standard Class,Bart Watters,Corporate,New York City,"Adams Phone Message Book, Professional, 400 Me...",Not,62.820,9,0.0,65 days
2053,First Class,Clytie Kelty,Consumer,Philadelphia,"Master Big Foot Doorstop, Beige",Not,25.344,6,0.2,0 days
1766,Standard Class,Max Ludwig,Home Office,Suffolk,Avery 478,Not,9.820,2,0.0,122 days
681,Standard Class,Doug Jacobs,Consumer,New York City,Fellowes Neat Ideas Storage Cubes,Not,64.960,2,0.0,5 days
9644,Standard Class,Frank Olsen,Consumer,Glendale,Memorex Micro Travel Drive 16 GB,Not,89.544,7,0.2,0 days
5968,First Class,Charles Crestani,Consumer,San Diego,Xerox 189,Yes,104.850,1,0.0,2 days
7363,Standard Class,David Smith,Corporate,Philadelphia,Wireless Extenders zBoost YX545 SOHO Signal Bo...,Not,340.182,3,0.4,0 days

In [31]:
target['Returned']=db['Returned'].map({'Yes':1,'Not':0})

In [33]:
target.sample(10)

,Ship Mode,Customer Name,Segment,City,Product Name,Returned,Sales,Quantity,Discount,Duration,Ship Label
5758,First Class,Brosina Hoffman,Consumer,Hialeah,Texas Instruments TI-34 Scientific Calculator,0,32.985,3,0.5,1 days,0
917,Standard Class,Kelly Lampkin,Corporate,San Antonio,Avery Premier Heavy-Duty Binder with Round Loc...,0,8.568,3,0.8,6 days,3
5981,Standard Class,Rick Bensley,Home Office,Tulsa,Akro-Mils 12-Gallon Tote,0,19.860,2,0.0,66 days,3
7790,Same Day,Frank Gastineau,Home Office,Philadelphia,"Acco PRESSTEX Data Binder with Storage Hooks, ...",0,4.842,3,0.7,0 days,1
1397,First Class,Nat Carroll,Consumer,New York City,Xerox 196,0,11.560,2,0.0,2 days,0
3877,Standard Class,Emily Phan,Consumer,Tampa,Canvas Sectional Post Binders,0,38.190,5,0.7,0 days,3
1174,First Class,Dave Poirier,Corporate,New York City,"Avery 3 1/2"" Diskette Storage Pages, 10/Pack",0,50.112,6,0.2,3 days,0
3200,Second Class,Ted Trevino,Consumer,Akron,Deflect-o Glass Clear Studded Chair Mats,0,149.232,3,0.2,2 days,2
9670,First Class,Grace Kelly,Corporate,Greensboro,Newell 309,0,64.680,7,0.2,2 days,0
9108,First Class,Muhammed MacIntyre,Corporate,Haltom City,Xerox 1978,1,32.368,7,0.2,3 days,0

In [39]:
encoding_cols = ['Ship Mode','Segment','City','Product Name']

for cols in encoding_cols:
    le=LabelEncoder()
    le.fit_transform(target[cols])
    target[cols]=le.transform(target[cols])

In [41]:
target.sample(40)

,Ship Mode,Customer Name,Segment,City,Product Name,Returned,Sales,Quantity,Discount,Duration,Ship Label
2384,0,Christina VanderZanden,0,159,233,0,185.920,4,0.2,1 days,0
9989,2,Tom Boeckenhauer,0,295,1586,0,25.248,3,0.2,2 days,2
7145,3,Marc Harrigan,2,374,942,0,154.764,3,0.4,0 days,3
8805,3,Denny Ordway,0,432,1630,0,102.720,3,0.2,4 days,3
5202,3,Richard Eichhorn,0,342,1561,0,104.230,7,0.0,4 days,3
3165,3,Herbert Flentye,0,438,1285,0,239.984,2,0.2,4 days,3
1578,0,Dan Lawera,0,329,466,0,170.880,3,0.0,0 days,0
770,3,Benjamin Venier,1,121,407,0,18.280,2,0.0,92 days,3
5475,0,Dean percer,2,278,198,0,44.400,3,0.0,3 days,0
2436,3,Christina Anderson,0,149,1546,1,545.850,9,0.0,214 days,3
1992,3,Max Ludwig,2,464,134,0,71.040,6,0.2,0 days,3
2008,3,Jamie Frazer,0,219,1116,0,4.224,3,0.2,6 days,3
173,3,Chad Sievert,0,266,771,0,340.144,7,0.2,123 days,3
3162,3,Herbert Flentye,0,438,3,0,78.350,5,0.0,4 days,3
2486,2,Claudia Bergmann,1,330,1368,0,85.520,2,0.0,59 days,2
7207,0,Linda Cazamias,1,375,473,0,2.912,2,0.2,0 days,0
3061,3,Richard Eichhorn,0,109,921,0,26.880,8,0.2,122 days,3
298,3,Jonathan Doherty,1,35,1820,0,32.400,5,0.0,0 days,3
6532,3,Theone Pippenger,0,410,667,0,142.800,1,0.0,122 days,3
4212,2,Peter Fuller,0,407,1160,0,6.560,2,0.0,123 days,2
7113,3,Kunst Miller,0,329,1626,0,9.280,2,0.2,7 days,3
1618,2,Parhena Norris,2,329,69,0,59.480,2,0.0,0 days,2
536,2,Emily Phan,0,80,1301,0,42.616,7,0.8,153 days,2
1693,2,Alejandro Ballentine,2,379,1076,0,13.616,2,0.2,3 days,2
4519,3,Neil Ducich,1,216,14,0,1347.520,8,0.2,0 days,3
3619,3,Ralph Arnett,0,266,1572,1,217.850,5,0.0,122 days,3
5712,1,Katrina Willman,0,80,1101,0,36.792,1,0.2,0 days,1
7594,3,Christina VanderZanden,0,123,1302,0,146.860,7,0.0,4 days,3
1564,1,Clay Ludtke,0,93,1437,0,354.900,5,0.0,0 days,1
41,3,Linda Cazamias,1,321,1244,0,147.168,4,0.2,0 days,3
3359,3,Art Ferguson,0,80,996,0,26.176,2,0.2,122 days,3
6080,0,Nick Zandusky,2,207,1554,0,151.056,9,0.2,92 days,0
7644,0,Laurel Beltran,2,392,1066,1,67.960,5,0.2,30 days,0
9581,0,Roger Barcio,2,329,1205,0,589.410,5,0.1,2 days,0
491,3,Astrea Jones,0,410,647,0,449.150,5,0.0,5 days,3
4404,3,Mitch Webber,0,374,791,0,34.800,3,0.2,153 days,3
3864,3,Lena Creighton,0,71,544,0,151.960,5,0.6,0 days,3
8428,3,Don Jones,1,476,1403,0,62.352,6,0.2,0 days,3
8285,2,Sam Zeldin,2,424,874,0,51.756,3,0.6,5 days,2
4095,3,Katrina Willman,0,151,971,0,587.970,3,0.0,4 days,3